.input_wrapper {
  position: relative;
}

.input {
  border: none;
  color: var(--primary);
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  background-color: transparent;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.input::placeholder {
  font-weight: 400;
  color: var(--secondary);
}

.input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.error {
  color: red;
  position: absolute;
  width: max-content;
  bottom: -40px;
  left: 0;
  padding: 10px;
  z-index: 1;
  background-color: var(--very-light);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}
