.images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 30vh);
  gap: 17px;
  padding: 40px 15px;
}

.image_container {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
}

.image_container:hover img {
  transform: scale(110%);
}

.image_container:first-child {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--very-light);
  transition: 0.2s linear;
}

.more {
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.5vmax;
  font-weight: 700;
  color: var(--white);
  position: absolute;
  top: 0;
  left: 0;
}

.more span:first-child {
  font-size: 4vmin;
}

@media screen and (max-width: 768px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 25vh);
    gap: 7px;
  }

  .image_container {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
  }

  .image_container:hover img {
    transform: none;
  }

  .image_container:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .image_container:last-child {
    grid-column: 1 / 3;
  }

  .more {
    font-size: 24px;
  }

  .more span:first-child {
    font-size: 32px;
  }
}
