.wellcome {
  background: var(--light);
  padding: 430px 0 75px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.wellcome_content {
  grid-column: 2 / 3;
  display: grid;
  row-gap: 17px;
}

.wellcome_title {
  margin-left: 30px;
  color: var(--primary);
}

.latest {
  margin-top: 88px;
  display: grid;
  row-gap: 48px;
}

.latest_title {
  max-width: 340px;
  color: var(--primary);
}

.latest_title::after {
  content: "";
  display: block;
  width: 140px;
  height: 6px;
  border-radius: 3px;
  background-color: var(--primary);
  margin-top: 24px;
}

.latest_cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 30px;
}

.banner {
  margin-top: 45px;
  height: 395px;
}

.featured {
  margin-top: 35px;
  display: grid;
  row-gap: 48px;
}

.featured_cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 50px 30px;
}

.featured_title {
  max-width: 400px;
}

.featured_title::after {
  content: "";
  display: block;
  width: 140px;
  height: 6px;
  border-radius: 3px;
  background-color: var(--primary);
  margin-top: 24px;
}
