.card {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.icon {
  display: grid;
  position: absolute;
  right: 22px;
  top: 22px;
  transition: 0.1s ease;
  z-index: 2;
}

.icon:hover {
  cursor: pointer;
  transform: scale(110%);
}

.icon svg {
  stroke: var(--white);
}

.icon:hover svg {
  fill: var(--white);
}
