.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  align-items: center;
  justify-items: center;
  z-index: 99;
}

.modal {
  background-color: var(--very-light);
  border-radius: 8px;
  padding: 25px;
  position: fixed;
  display: grid;
  row-gap: 20px;
  justify-items: center;
  max-width: 400px;
}

.content {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.controls {
  display: flex;
  gap: 10px;
}
