.card {
  padding: 20px;
  height: 340px;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: flex-end;
}

.card_text {
  color: var(--very-light);
}

.description {
  margin-top: 30px;
  display: grid;
  row-gap: 10px;
  cursor: pointer;
  color: var(--primary);
}

.address {
  color: var(--secondary);
}

.amenities {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.amenities_item {
  display: flex;
  gap: 5px;
  align-items: center;
}
