.card {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.card_content {
  padding: 20px;
  height: 340px;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-content: flex-end;
  align-items: center;
  z-index: 1;
  position: relative;
}

.card_text {
  color: var(--very-light);
}

.description {
  margin-top: 30px;
  display: grid;
  row-gap: 10px;
  cursor: pointer;
  color: var(--primary);
}

.address {
  color: var(--secondary);
}

.amenities {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.amenities_item {
  display: flex;
  gap: 5px;
  align-items: center;
}

.favorites {
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 20px;
  width: 35px;
  height: 35px;
  color: var(--very-light);
}

@media screen and (max-width: 480px) {
  .card {
    height: 240px;
  }

  .description {
    margin-top: 15px;
  }
}
