.login {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
  transition: 0.2s ease;
}

.login:hover {
  color: var(--secondary);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
