* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #484848;
  --secondary: #9a9a9a;
  --light: #c2c6cc;
  --very-light: #eff0f2;
  --white: #fff;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.title-l {
  font-weight: 700;
  font-size: 38px;
  line-height: 52px;
}

.title-m {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}

.title-s {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}

.title-xs {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.text-xxl {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

.text-xl {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.text-l {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.text-m {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.text-s {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.text-light {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 1250px) {
  .wrapper {
    padding: 0 20px;
  }

  .title-l {
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
  }

  .title-m {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }
}
